/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.tabs__section {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.tabs__menu {
    display: inline-block; 
    padding: 5px 50px; 
    border-bottom: none; 
    cursor: pointer;
    border-radius:  5px 5px 0;
}

.tabs__menu input[type="radio"] { 
    display: none; 
}

#tab-btn-1:checked ~ .tab-btn-1 {
    border-radius: 5px 5px 0 0;
    border: 1px #C6CBCD;
    border-bottom: none;
}

#tab-btn-1:checked ~ .tab-btn-1::before { 
position: absolute;
content: "";
width: 182.8px;
height: 5px;
left: 0px;
right: 0;
bottom: -5px;
background-color: white;
}

.tab__content {
display: none;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 { 

}

.tab__item {
    display: inline-block; 
    padding: 5px 50px; 
    position: relative;
    border: 1px solid #666; 
    border-bottom: none; 
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.tab__content {
    border: #C6CBCD 1px solid;
    width: 100%;
    height: 501px;
    display: flex;
    justify-content: space-between;
}

.tab__img {
    right: 0;
    top: 0;
}

.container__text {
    max-width: 570px;
}

.tab__text {
    font-family: 'Raleway';
    margin-left: 100px;
    font-size: 18px;
    line-height: 21px;
    height: 210px;
}

.tab__title {
    font-family: 'Open Sans';
    font-size: 30px;
    margin-left: 100px;
    height: 124px;
    padding-top: 60px;
}

.tab__button {
    font-family: 'Open Sans';
    margin-left: 100px;
    font-size: 18px;
    color: #FFFFFF;
    background: #EC7979;
    width: 270px;
    height: 58px;
    cursor: pointer;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border:none;
}


.tab__button:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.container__img {
    width: 470px;
    height: 500px;
    float: right;
}
