@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li,
fieldset, form, label, input, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.title__download {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 116px;
}

.subtitle__download {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    padding-top:6px;
    padding-bottom: 50px;
}

.button__download {
    width: 369px;
    height: 77px;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF4343;
    margin: 5px 570px 114px;
    border:none;
    cursor: pointer;
    box-shadow: 0 0 40px 40px #FF4343 inset, 0 0 0 0 #FF4343;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.button__download:hover {
    box-shadow: 0 0 10px 0 #e74c3c inset, 0 0 10px 4px #e74c3c;
}