@import url(header.css);
@import url(features.css);
@import url(works.css);
@import url(team.css);
@import url(testimonials.css);
@import url(download.css);
@import url(footer.css);

@media (max-width: 1024px) {

/*section header*/

.header__logo {
    padding-left: 20px;
}

.menu__header {
    width: 566px;
    padding-right: 20px;
}

.header__line {
    width: 984px;
}

.title__header {
    font-size: 48px;
    line-height: 56px;
    padding: 150px 20px 0;
}

.subtitle__header {
    font-size: 18px;
    line-height: 21px;
}

.button__header {
    Width:314px;
}

/*section features*/

.content__features {
    padding: 98px 0 80px 19px;
}

.item__features {
    width: 315px;
    height: 237px;
}

.img__features {
    width: 85px;
    height: 83.97px;
}

.name__features {
    height: 60px;
    font-size: 18px;
    line-height: 21px;
}

.description__features {
    font-size: 14px;
    line-height: 16px;
}

/*section works*/

.img__works {
    width: 251px;
    height:230px; 
}

.title__work3 {
    font-size: 18px;
    line-height: 21px;
    Width: 257px;
    Height:40px;
    top:74px;
}

.subtitle__work3 {
    top:128px;
    width: 257px;
    font-size: 14px;
    line-height: 16px;
}

/*saction team*/

.content__team {
    padding: 78px 15px;
}

.item__team {
    padding:0 10px;
}

.img__team {
    height: 227px;
    width: 227px;
}

.name__team {
    font-size: 18px;
    line-height: 21px;
    padding-top: 25px;
}

.post__team {
    font-size: 14px;
    line-height: 16px;
}

.text__team {
    font-size: 14px;
    line-height: 16px;
}

.team__img {
    padding-right: 5px;
}

.img__testimonials {
    width: 502px;
    height: 332px;
}

.testimonials__part {
    height: 332px;
}

.text__testimonials {
    font-size: 24px;
    line-height: 32px;
    padding: 47px 104px 0 88px;
}

.name__testimonials {
    font-size: 12px;
    line-height: 14px;
    padding: 0 90px;
}

.controls {
    padding-top: 330px;
}

/*section downloadd*/

.title__download {
    font-size: 24px;
    line-height: 28px;
    padding-top: 116px;
}

.subtitle__download {
    font-size: 14px;
    line-height: 16px;
}

.button__download {
    width: 313px;
    font-size: 18px;
    line-height: 21px;
    display: block;
    margin: auto;
}

.content__download {
    height: 390px;
}

/*section footer*/

.footer__content {
    height: 169px;
}

.item__footer {
    padding-top: 46px;
    margin: 0 20px;
}

.tatle__footer {
    font-size: 14px;
    line-height: 16px;
}

.adress {
    font-size: 14px;
    line-height: 16px;
}

.text__about {
    font-size: 14px;
    line-height: 16px;
}

.footer__footer {
    height: 60px;
}

.yers {
    font-size: 14px;
    line-height: 16px;
    padding: 14px 355px;
}

}

@media (max-width: 768px) {

/*section header*/

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
}

.header__line {
    display: none;
}

.title__header {
    font-size: 36px;
    line-height: 42px;
    padding-top: 106px;
}

.subtitle__header {
    font-size: 14px;
    line-height: 16px;
    padding: 30px 20px 50px;
}

.button__header {
    width: 279px;
    height: 58px;
}


.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu-main a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu-main a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 0;
}
/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} 

/* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/*section features*/

.content__features {
    padding: 60px 20px;
}

.item__features {
    width: 279.84px;
    height: 222.53px;
}

.img__features {
    height: 75px;
    width: 75px;
}

.name__features {
    height:53px;
}

.description__features {
    margin-top: 0;
}

/*section works*/

.img__works {
    width: 160px;
    height: 140px;
}

.title__work3 {
    width: 160px;
    height: 25px;
    top:46px;
}

.subtitle__work3 {
    top: 76px;
    width: 160px;
}

/*section team*/

.content__team {
    flex-wrap: wrap;
}

.item__team {
    padding:25px 15px;
}

/*section testimonials*/

.img__testimonials {
    width: 320px;
    height: 212px;
}

.testimonials__content {
    flex-wrap: wrap;
    height: 538px;
}

.testimonials__part {
    height: 220px;
}

.text__testimonials {
    padding: 0 20px ;
}

.name__testimonials {
    padding: 0 20px;
}

.controls {
    padding-top: 540px;
}

/*section download*/

.title__download {
    font-size: 18px;
    line-height: 21px;
}

.subtitle__download {
    font-size: 13px;
    line-height: 15px;
    padding: 0 20px 15px;
}

.button__download {
    Width: 278px;
    Height: 77px;
}

/*section footer*/

.footer__content {
    flex-wrap: wrap;
    height: 540px;
}

.yers {
    padding: 29px 20px;
}

.item__footer {
    padding-top:30px;
}

.footer__footer {
    height: 90px;
}
}